@use "@/sass/abstracts/mixins" as *;

section.AnnouncementsSection {
  @include max-width();
}

.Main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: var(--width-large);
}

.Content {
  display: grid;
  gap: var(--width-small);
  align-content: start;

  max-width: 37.5rem;
}

.Links {
  display: grid;
  grid-template-columns: 1fr;

  gap: var(--width-small);
}

.Link {
  padding: var(--width-small);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: flex-start;
  gap: var(--width-small);
  font-size: var(--font-size-small);
  border: 3px double rgba(black, 0.4);

  transition: scale 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    scale: 1.02;
  }

  &Icon {
    justify-self: center;
    font-size: 2.5rem;
  }
}

.Calendar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  align-self: center;
  border: 1px solid gold;
  padding: 2px;

  &Content {
    background-color: var(--color-background-secondary);
    padding: var(--width-tiny);
    padding-top: var(--width-small);
    position: relative;
  }

  &Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: var(--width-small);
  }
}

.Image {
  opacity: 0.5;
}

.Weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1px 0;
  gap: 1px;
  position: relative;
  border-bottom: 1px solid rgba(black, 0.1);
  border-top: 1px solid rgba(black, 0.1);
}

.Weekday {
  padding: 1rem;
  font-size: var(--font-size-small);
  text-align: center;
  font-weight: var(--font-weight-semibold);

  &:not(:nth-child(7n + 1)) {
    border-left: 1px solid rgba(black, 0.1);
  }
}

$day-padding: 0.5rem;

.Days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  position: relative;
}

.Day {
  width: auto;
  aspect-ratio: 1;
  position: relative;
  padding: $day-padding;

  &:not(:nth-child(7n + 1)) {
    border-left: 1px solid rgba(black, 0.1);
  }

  &:not(:nth-child(-n + 7)) {
    border-top: 1px solid rgba(black, 0.1);
  }

  &:hover {
    background: rgba(white, 0.1);
  }

  &.empty {
    border: none;
  }

  &Number {
    position: absolute;
    right: calc(2.5 * #{$day-padding});
    top: calc(1.5 * #{$day-padding});
    font-size: var(--font-size-small);
    color: var(--color-text);
    font-weight: var(--font-weight-regular);

    &.light {
      // color: var(--color-text-light);
    }
  }
}

.Event {
  font-size: calc(var(--font-size-small) - 0.2rem);
  height: 100%;
  padding: $day-padding;
  border: 3px double rgba(black, 0.4);

  display: grid;
  align-content: center;
  text-align: center;
}
