@use "@/sass/abstracts/mixins" as *;

section.AboutUsSection {
  @include max-width();

  display: grid;
  gap: inherit;
  grid-template-columns: repeat(2, 1fr);

  $bleed: 15rem;

  margin-top: -$bleed;
  padding-top: calc(#{$bleed} + var(--width-large));
  padding-bottom: calc(2 * var(--width-large));
}

.Left {
  position: relative;
  height: 50rem;

  display: flex;
  flex-direction: column;

  & > :global(.paragraph) {
    flex: 1;
  }
}

.Main {
  flex: 1;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  object-fit: cover;
  object-position: center;
  filter: brightness(0.9) contrast(1.1) /* Make blacks transparent, whites normal */
    drop-shadow(0 0 0 black) grayscale(1) opacity(0.7);
  mix-blend-mode: multiply;
  opacity: 0.2;
}

.Buttons {
  display: flex;
  gap: var(--width-regular);
}

.Right {
  position: relative;
  filter: drop-shadow(0 20px 30px rgba(black, 0.5));
}

.Image {
  width: 30rem;
  height: auto;
  aspect-ratio: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;

  $radius: 10px; /* control the radius */
  padding: $radius;
  background: #b3b39c;
  mask:
    radial-gradient(50% 50%, #0000 66%, #000 67%) round #{$radius} #{$radius} / calc(2 * #{$radius})
      calc(2 * #{$radius}),
    conic-gradient(#000 0 0) content-box;

  // Stamp-like border using clip-path and mask

  transition:
    scale 0.2s ease-in-out,
    rotate 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    z-index: 11;
  }

  & img {
    object-fit: cover;
    // scale: 1.1;
    // border: 25px solid white;
  }

  &:nth-of-type(1) {
    rotate: 5deg;
    translate: calc(-50% + 10rem) calc(-50% - 10rem);

    &:hover {
      rotate: 10deg;
    }
  }

  &:nth-of-type(2) {
    rotate: -10deg;
    translate: calc(-50% + 10rem) calc(-50% + 10rem);

    &:hover {
      rotate: -5deg;
    }
  }

  &:nth-of-type(3) {
    rotate: -10deg;
    translate: calc(-50% - 10rem) calc(-50%);

    &:hover {
      rotate: -15deg;
    }
  }
}

.Join {
  border-radius: var(--border-radius-regular);
  margin-top: calc(2 * var(--width-large));

  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &Left {
    filter: drop-shadow(0 20px 30px rgba(black, 0.5));

    display: grid;
    place-items: center;
    position: relative;
  }

  &Image {
    position: relative;
    width: 35rem;
    height: 35rem;

    rotate: -6deg;

    & img {
      object-fit: cover;
    }
  }

  &Text {
    z-index: 2;
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: -6rem -25%;

    & img {
      object-fit: contain;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;

    & > :global(.paragraph) {
      flex: 1;
    }
  }
}
