@use "@/sass/abstracts/mixins" as *;

.Header {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;

  @include respond(800px) {
    height: 80vw;
  }
}

.Image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  & > img {
    object-fit: cover;
    object-position: bottom center;
  }
}

.Content {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  width: 100%;

  display: grid;
  gap: var(--width-small);
  padding: var(--width-regular);

  @include respond(800px) {
    top: 90%;
  }

  & > :global(.header) {
    text-shadow: 0 0 1rem rgba(black, 0.6);

    @include respond(800px) {
      font-size: 5rem;
    }

    @include respond(500px) {
      font-size: 4rem;
    }
  }
}
