@use "@/sass/abstracts/mixins" as *;

.Header {
  width: 100vw;
  // height: 50rem;
  height: 100vh;
  position: relative;
  z-index: 2;

  @include respond(800px) {
    height: 80vw;
  }
}

.Image,
.Overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow: hidden;
  // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  mask-image: url("/images/paint-background-3.png");
  mask-position: bottom;
  mask-size: 130% 120%;

  & > img {
    object-fit: cover;
    object-position: bottom center;
  }
}

.Overlay {
  background: rgba(black, 0.4);
}

.Content {
  position: absolute;
  top: 50%;
  // top: 72%; // uncomment once we can add the main image back
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  width: 100%;

  display: grid;
  gap: var(--width-small);
  padding: var(--width-regular);

  @include respond(800px) {
    // top: 80%; // uncomment once we can add the main image back
  }

  & > :global(.header) {
    text-shadow: 0 0 1rem rgba(black, 0.6);

    @include respond(800px) {
      font-size: 5rem;
    }

    @include respond(500px) {
      font-size: 4rem;
    }
  }
}
