@use "@/sass/abstracts/mixins" as *;

.Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  padding: var(--width-small);

  @include respond(550px) {
    justify-content: unset;
  }
}

.Left {
  display: flex;
  gap: var(--width-regular);

  @include respond(550px) {
    width: 100%;
  }
}

.Logo {
  width: 5rem;
  height: 5rem;
  position: relative;
}

.List {
  list-style: none;

  display: flex;
  align-items: center;

  transition: translate 0.3s ease;

  @include respond(550px) {
    flex-direction: column;
    background-color: var(--color-primary);

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    translate: 0 -100%;
    padding-top: 7rem;
    padding-bottom: var(--width-small);
    z-index: -1;
  }

  &.visible {
    @include respond(550px) {
      translate: 0;
    }
  }
}

.Item {
  @include respond(550px) {
    width: 100%;
  }

  & > * {
    @include respond(550px) {
      text-align: center;
      justify-content: center;
    }
  }
}

.Right {
  display: flex;
  align-items: center;
}

button.Toggle {
  display: none;
  aspect-ratio: 1;
  padding: 0;
  width: 5rem;
  height: 5rem;
  position: relative;

  & svg {
    font-size: 2.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  @include respond(550px) {
    display: block;
  }
}

a.Join {
  position: relative;

  @include respond(550px) {
    display: none;
  }
}
