@use "@/sass/abstracts/mixins" as *;

section.DancesSection {
  & :global(.header-section) {
    color: var(--color-primary);
  }

  padding-bottom: 0;
  padding-top: 0;
}

.Container {
  $padding-top: 10rem;

  @include max-width();
  background: var(--color-background-secondary);

  position: relative;
  padding: var(--width-large) var(--width-regular);
  padding-top: calc(var(--width-huge) + #{$padding-top});
  display: grid;
  gap: var(--width-huge);

  clip-path: polygon(0 #{$padding-top}, 100% 0, 100% 100%, 0 100%);
}

.Background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/floral-1.webp");
  background-size: cover;

  opacity: 0.25;
}

.Header {
  text-align: center;

  display: grid;
  justify-content: center;
  justify-self: center;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--width-large);
  justify-content: center;
}

.Performance {
  display: grid;
  text-align: center;
  gap: var(--width-tiny);

  &:nth-child(odd) :global(.header) {
    color: var(--color-secondary);
  }

  &:nth-child(even) :global(.header) {
    color: var(--color-primary);
  }
}

.Player {
  border-radius: var(--border-radius-regular);
  overflow: hidden;
}
